html {
	scroll-behavior: smooth;
}

* {
	font-family: 'Arial', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.container {
	margin-left: 75px;
	margin-right: 75px;
}

nav {
	width: 100%;
	background-color: #f8f9fa;
	position: fixed;
}

nav ul li {
	list-style: none;
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	margin: 5px;
	padding: 5px;
	color: black;
}

.align-right {
	text-align: right;
	float: right;
	right: 0;
}


section {
	padding-top: 75px;
}

.align-right {
	text-align: right;
	float: right;
	right: 0;
}

.profile-img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.text-bold {
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.bio-p {
	text-align: center;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

.btn {
	background-color: #eec14c;
	border-radius: 20px;
	padding: 20px;
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 100px;
	text-align: center;
	box-shadow: 0px 9px 15px 0px #0000001A;
}

.progress-bar {
	background-color: #d83250; 
	height: 16px; 
	border-radius: 20px;
}

.margin-top-25 {
	margin-top: 25px;
}

.card {
	border: 1px solid #0000001A;
	border-radius: 20px;
	display: inline-block;
	width: 20%;
	margin-right: 15px;
	margin-left: 15px;
	padding: 50px;
}

.card-img {
	width: 100px;
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.google-maps {
	width: 100%;
	height: 500px;
	border: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
}

footer {
	background-color: #eec14c;
	width: 100%;
	margin-top: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}